body{
    background-color: #000000;
    
}

.cardnav{
    background-color: #000000;
    border: 1px #393E46 solid;
    padding: 5px;
    box-shadow: 20px 20px #E90064;
    
}


.retroFont:hover{
    color: #393E46;
    
}
.retroFont{
    font-family: monospace;
    font-weight: bold;
    font-size: 14px;
    color: #E90064;
}
.retroFont14{
    font-family: 'Teko', sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: #393E46;
}

.imgresize{
    width: 32px;
}
.pageheight{
    height: 600px;
}