body{
    background-color: #ffffff;
    margin: 0;
    
}
.sel{
    position: relative;
    top: -20vh;
    left: 21vh;
    color: #ffffff;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    z-index: 1;
    background-color: #DE4242;
    padding: 5px;
}

@media screen and (max-width: 1280px) {
    .sel {
      top: -15vh;
      left: 17vh;
    }
  }

.sel:hover{
    color: #919191;
}

.navigasi{
    position: fixed;
    
    width: 1250px;
    height: 50px;
    padding: 10px;
    z-index: 1000;
}

.header li{
    display: inline;
    padding-right: 20px;
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #DE4242;
    
}

.prolist li{
    display: inline-block;
    position: relative;
    top: -70vh;
    left: 30vh;
    z-index: 0;
    height: 100px;
}

.prolist li:hover{
    display: none;
}

footer{
    background-color: #de424280;
    height: 100px;
}
.containers{
    margin: 0;
    text-align: center;
    padding-top: 10px;
}

